body {
    color: white;
<<<<<<< HEAD
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
=======
    background-color: #333;
    font-size: 150%;
    font-family: 'Satisfy', cursive;
>>>>>>> dec4d5e53f0f0c6b25c2142174859a101c25491e
    margin: 5em 25%;
 }